.categories {
    padding: 20px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.categories__badge {
    width: 120px;

    padding: 10px 5px;
    border: 1px solid ;
    color: var(--primary-color);

    cursor: pointer;
    text-align: center;

    user-select: none;
    border-radius: 10px;
}

.categories__badge_selected {
    background-color: var(--primary-color);
    color: white;
}