.product-card {
    width: 50vw;
    height: 14vh;

    border-radius: 10px;
    padding: 20px;

    border: 1px solid var(--primary-color);

    display: flex;

    justify-content: space-between;
    align-items: center;

    margin: 5px;
}

.product-card__image {
    max-height: 85%;
}

.product-card__name {
    color: var(--primary-color)
}

.product-card__category {
    color: var(--secondary-color);
}

.product-card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.product-card__price {
    margin: 15px 0;
}